body {
  background-color: rgb(190, 190, 190);
}
img {
  width: 100%;
  margin: 20px 0 20px -110px;
  border-radius: 20px;
}
.container .col p {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 3s;
  transform: translateY(165px);
}