body {
  background-color: rgb(122, 122, 122);
}
#active {
  color: rgb(122, 122, 122);
  font-weight: bold;
}
h1 {
  text-align: center;
}
p{
  text-align: center;
}
form {
  padding: 20px 15% 20px 15%;
  background-color: #2c3035;
}
button {
  opacity: .5;
} 
a {
  text-align: center;
  font-size: 10px;
  color: #2c3035;
  margin: 10% auto;
}