body {
  background-color: rgb(190, 190, 190);
}
#active {
  color: rgb(122, 122, 122);
  font-weight: bold;
}
h1 {
  text-align: center;
}
p{
  text-align: center;
}
form {
  padding: 40px 60px;
  border-radius: 20px;
  width: 60%;
  height: 450px;
  background-color: #2c3035;
  margin-left: 20%;
}
textarea {
  height: 400px;
}
button {
  opacity: .5;
  width: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 46%;
  text-align: center;
} 
img {
  display: flex;
  position: absolute;
  float: right;
  margin-left: 55%;
  margin-top: -50px;
}