body {
  background-color: rgb(190, 190, 190);
}
nav{
  font-size: 20px;
}
#active {
  color: rgba(223, 222, 222, 0.883);
  font-weight: bold;
}
h1 {
  text-align: center;
  padding: 25px;
  font-size: 50px;
}
img {
  border-radius: 50%;
  width: 25%;
}
ul {
  list-style-type: none;
}
h3 {
  text-decoration: underline;
}
.col{
  text-align: center;
}
p {
  font-size: 13px;
}
#btn {
  border-radius: 50%;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  opacity: .5;
}
#btn:hover {
  opacity: .8;
}
@media (max-width: 770px) {
  h1 {
    font-size: 35px;
  }
  img {
    width: 30%;
  }
  #btn {
    width: 100px;
    height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 780px) {
img {
  width: 50%;
  }
}