body {
  background-color: rgb(190, 190, 190);
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
}
h3 {
  text-decoration: underline;
}
.col{
  text-align: center;
}
p {
  font-size: 13px;
}
}
/*#myNumber {
  font-weight: bold;
  font-size: 25px;
  display: none;
}
button {
  height: 38px;
  width: 150px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(179,107,0,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgb(192, 115, 0) 100%);
  background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#b36b00', GradientType=1 );
}*/
