
main {
  border: dashed rgba(245, 183, 14, 0.623);
  margin: auto;
  height: auto;
  width: 850px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20% 20% 60%;
}
h1 {
  grid-column: 2/3;
  text-align: center;
  margin-top: 60px;
  font-size: 65px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  opacity: 0.2;
  transition: 0.5s;
  color:  black;
}
h1:hover {
  opacity: 1
}
img {
  margin-top: 50px;
  border: none;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
}
img:hover {
  opacity: 1
}
.address {
  grid-column: 1/2;
  grid-row: 2/3;
  line-height: 1.4;
  font-size: 18px;
}
.address h2 {
  text-align: center;
  font-size: 25px;
}
ul {
  list-style-type: none;
}
#myNumber {
  font-weight: bold;
  font-size: 25px;
  display: none;
}
button {
  height: 38px;
  width: 150px;
  margin-top: 10px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  background: rgba(241,231,103,1);
  background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(179,107,0,1)));
  background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgb(192, 115, 0) 100%);
  background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(179,107,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#b36b00', GradientType=1 );
}
.discription {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  line-height: 1.4;
  font-size: 18px;
  margin-left: 55px;
}
.discription h3 {
  text-align: center;
  font-size: 25px;
}
.college {
  margin-right: 35px;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: end;
  line-height: 1.4;
  font-size: 18px;
}
.college h4 {
  margin-top: 25px;
  margin-left: 35px;
  text-align: center;
  font-size: 25px;
}
h5 {
  font-size: 20px;
  margin-top: 30px;
  grid-column: 1/2;
  grid-row: 3/4;
  font-size: 23px;
  text-align: center;
}
h6 {
  margin-top: 6px;
  grid-column: 2/4;
  grid-row: 3/4;
  font-size: 25px;
  text-align: center;
}
.experience {
  margin: 50px auto;
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  font-size: 18px;
}
.jobs {
  margin: 50px auto;
  grid-column: 2/4;
  grid-row: 3/4;
  line-height: 1.4;
  font-size: 18px;
}
.jobs p {
  font-size: 25px;
  text-decoration: underline;
}
@media only screen and (max-width: 500px) {
  main {
      width: auto;
      display: flex;
      flex-wrap: wrap;
  }
  img {
      display: none;
  }
  .address {
      margin: auto;
  }
  .college {
      margin: auto;
      text-align: center;
  }
  .discription {
      margin-left: auto;
  }
}